.d-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
}

button{
    background-color: rgb(18, 176, 187) ;
    color: white;
    
    height: 50px;
    width: 40rem;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;

}
.easy{
    background-color: green;
}
.medium{
    background-color: orange;
}
.hard{
    background-color: red;
}