.button {
    background-color: rgb(18, 176, 187) ;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

  .button:hover {
    background-color: #0056b3;
  }
  